@font-face {
    font-family: "ancient";
    src: url("./fonts/ancient.ttf");
}

body {
	text-align: center;
	background-color: white;
	background-image: url("./images/bg.png");
	background-position: 100% 115%;
	background-size: 105%;
	margin: 0;
}


.title {
	position: absolute;
	left: 48%;
	top: 26%;
	transform: translate(-50%, -50%);
	padding: 10px;
	font-size: 3vw;
	font-family: "ancient";
	background: #000;
	cursor: pointer;

}

.center {
	position: absolute;
	left: 48%;
	top: 45%;
	transform: translate(-50%, -50%);
	padding: 10px;
	z-index: 1;
}

.top-left {
	position: absolute;
	left: 25%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.middle-left {
	position: absolute;
	left: 10%;
	top: 58%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.bottom-left {
	position: absolute;
	left: 28%;
	top: 65%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.top-right {
	position: absolute;
	left: 70%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.middle-right {
	position: absolute;
	left: 75%;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.bottom-right {
	position: absolute;
	left: 70%;
	top: 82%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

img {
	max-width: 100%;
	height: auto;
  }

  @media only screen and (max-width: 600px) {
	img {
		max-width: 50%;
	}
  }


  .object {
	animation: MoveUpDown 5s linear infinite;
	position: absolute;
  }
  
  @keyframes MoveUpDown {
	0%, 100% {
	  bottom: 0;
	}
	50% {
	  bottom: 20px;
	}
  }
