@font-face {
    font-family: "ancient";
    src: url("./fonts/ancient.ttf");
}

body {
	text-align: center;
	background-color: white;
	background-image: url("./images/bg.png");
	background-position: 100% 115%;
	background-size: 105%;
	margin: 0;
}



.center {
	position: absolute;
	left: 48%;
	top: 42%;
	transform: translate(-50%, -50%);
	padding: 10px;
	z-index: 1;
}

.top-left {
	position: absolute;
	left: 27%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.middle-left {
	position: absolute;
	left: 10%;
	top: 58%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.bottom-left {
	position: absolute;
	left: 28%;
	top: 68%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.top-right {
	position: absolute;
	left: 70%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.middle-right {
	position: absolute;
	left: 86%;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.bottom-right {
	position: absolute;
	left: 70%;
	top: 68%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

img {
	max-width: 100%;
	height: auto;
  }

  @media only screen and (max-width: 900px) {
	img {
		max-width: 55%;
	}

	.center {
		position: absolute;
		left: 50%;
		top: 33%;
		width: 125%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.top-left {
		position: absolute;
		left: 25%;
		top: 80%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.middle-left {
		position: absolute;
		left: 75%;
		top: 80%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.bottom-left {
		position: absolute;
		left: 25%;
		top: 105%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.top-right {
		position: absolute;
		left: 75%;
		top: 105%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.middle-right {
		position: absolute;
		left: 25%;
		top: 140%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}

	.bottom-right {
		position: absolute;
		left: 75%;
		top: 140%;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 10px;
		z-index: 1;
	}
  }


  .object {
	animation: MoveUpDown 5s linear infinite;
	position: absolute;
  }
  
  @keyframes MoveUpDown {
	0%, 100% {
	  bottom: 0;
	}
	50% {
	  bottom: 20px;
	}
  }
